<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <form action="{{url_for('recebedados')}}" method="post">
        <!-- <label>Nome:</label>
        <input type="text" name="nome"> </br>
        <label>Sobrenome:</label>
        <input type="text" name="sobrenome"> </br>
        <label>E-mail:</label>
        <input type="email" name="email"> </br>

<br> -->

        <!-- <select name="estados">
            <option value="RN">Rio Grande do Norte</option>
            <option value="PB">Paraíba</option>
            <option value="PE">Pernambuco</option>
            <option value="CE">Ceará</option>
        </select> -->

        <!-- <input type="radio" name="formacao" value="Ensino fundamental">Ensino fundamental <br>
        <input type="radio" name="formacao" value="Ensino Médio">Ensino Médio <br>
        <input type="radio" name="formacao" value="Ensino Superior">Ensino Superior <br> -->

        <input type="checkbox" name="modalidade" value="Natação">Natação <br>
        <input type="checkbox" name="modalidade" value="Vôlei">Vôlei <br>
        <input type="checkbox" name="modalidade" value="Futbol">Futbol <br>
        <input type="checkbox" name="modalidade" value="Judô">Judô <br>

        <button type="submit">Enviar</button>

    </form>
</body>
</html>